<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/loginForm.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>com.controller.LoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifierDonnee</servlet-name>
        <servlet-class>com.controller.VerifierDonnee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPanel</servlet-name>
        <servlet-class>com.model.LoginPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetails</servlet-name>
        <servlet-class>com.controller.UpdateDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertVol</servlet-name>
        <servlet-class>com.controller.InsertVol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>com.controller.AdminPanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/loginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPanel</servlet-name>
        <url-pattern>/loginPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifierDonnee</servlet-name>
        <url-pattern>/verifierDonnee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetails</servlet-name>
        <url-pattern>/updateDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertVol</servlet-name>
        <url-pattern>/insertVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/adminPanel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
